@charset "utf-8";
/*---------------------------------------
    restCSS
----------------------------------------*/

html {
  overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

q:before, q:after {
  content: '';
}

object, embed {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, abbr, acronym, fieldset {
  border: 0;
}

ul li, ol li {
  list-style-type: none;
}

a, label {
  cursor: pointer;
}

img, svg {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  overflow: hidden;
  padding: 2%;
}

#wrapper {
  background: url(../img/bg-1.png);
}

.inner {
  width: 1000px;
  margin: 0px auto;
}

a:link, a:visited {
  color: #232323;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover img {
  -ms-filter: "alpha( opacity=70 )";
  filter: alpha( opacity=70);
  opacity: 0.7;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/*----------------------------------------
  animation
----------------------------------------*/

.trans_fade {
  opacity: 1 !Important;
  -webkit-transition: all 500ms ease-in;
  -ms-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition-delay: 0.5s;
}
.ani_img {
  transition: all 1s linear 100ms;
}

/*----------------------------------------
  title
----------------------------------------*/

#headline {
  font-size: 217%;
  color: #ff7200;
}

.title02 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 70%;
  margin: auto;
}

.title03 {
  padding-top: 35px;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0px;
}

.title_04 {
  font-size: 60px;
  line-height: 70px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  position: relative;
  z-index: 10;
  padding-left: 10px;
}

/*----------------------------------------
    header
----------------------------------------*/

#header_area {
  text-align: center;
  padding: 30px 45px;
  height: 100vh;
  position: relative;
  margin-bottom: 175px;
}

.header {
  position: fixed;
  top: 60px;
  width: 100%;
  left: 0;
  padding: 0 2%;
}

.shop_btn {
  float: right;
  margin-right: 45px;
}

.shop_btn a {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  display: block;
  padding: 9px 15px;
  font-weight: 700;
}

.shop_btn a:hover {
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  text-decoration: none;
}

#logo {
  margin-top: 105px;
  opacity: 0;
}

h1 {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 61px;
  line-height: 70px;
  width: 80%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0%);
  opacity: 0;
}

.video_btn {
  margin-top: 275px;
  opacity: 0;
}

.img_fixed {
  position: fixed;
  bottom: 3%;
  left: 3%;
  z-index: 50;
}

.txt_fixed {
  position: fixed;
  bottom: 3%;
  left: 5%;
  z-index: 50;
}

.txt_fixed a {
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  padding: 13px 25px;
  background: #333;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.txt_fixed a:hover {
  text-decoration: none;
}

.txt_fixed a span {
  padding-left: 5px;
}

.line {
  display: block;
  margin: 60px auto;
  width: 1px;
  background-color: #232323;
  height: 160px;
  opacity: 0;
}

/*----------------------------------------
    nav
----------------------------------------*/

#nav {
  float: left;
  margin-left: 20px;
}

#nav ul li {
  display: inline-block;
}

#nav ul li a {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------------------------
    content
----------------------------------------*/

#content_wrap {}

section {
  position: relative;
  margin-top: 50px;
}

.paragrap {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
}

.sec_txt {
  color: #fff;
  font-size: 16px;
  line-height: 29px;
  font-weight: 300;
}
#brand {
  height: 810px;
}
.title_brand {
  padding-top: 70px;
}
.txt_brand {
  color: #fff;
  width: 368px;
  position: absolute;
  z-index: 4;
  bottom: 20%;
  right: 10%;
}

.brand_img_01 {
  position: absolute;
  top: 8%;
  height: 35%;
  width: 57%;
  z-index: 2;
  left: -200px;
}
.in-view .brand_img_01 {
  left: 0%;
}
.brand_img_02 {
  position: absolute;
  bottom: 13%;
  right: -200px;
  width: 57%;
  z-index: 3;
}
.in-view .brand_img_02 {
  right: 4%;
}

.bg_brand {
  display: block;
  width: 80%;
  height: 810px;
  background-image: -webkit-linear-gradient(270deg, #434344, #434344);
  background-image: linear-gradient(180deg, #434344, #434344);
  float: right;
  /*opacity: 0;*/
  -webkit-transform: translate(15px, 0px);
  -ms-transform: translate(15px, 0px);
  transform: translate(15px, 0px);
}

/*----------------------------------------
    topic_path
----------------------------------------*/

#topic_path {}

#topic_path li {
  display: inline;
}

/*----------------------------------------
    aside
----------------------------------------*/

#aside {}

/*----------------------------------------
    footer
----------------------------------------*/

footer {}
